.custom-alert-overlay {
    position: fixed;
    top: 2rem;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.custom-alert {
    padding: 1.25rem;
    background: hsl(187, 24%, 22%);

    color: white;
    border-radius: 0.5rem;

    width: fit-content;
}

.custom-alert > p:nth-child(1) {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    
    font-size: 1.25rem;
    font-weight: 700;

    margin: 0.5rem 0rem;
}

.custom-alert > p:nth-child(2) {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    
    font-size: 1.1rem;
    font-weight: 400;

    margin: 0.5rem 0rem;
}
